/vendor/

/.env

/node_modules/

/public/css/
/public/js/
/public/mix-manifest.json

/storage/logs/

/bootstrap/cache/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/

/.idea
/.vscode
/.phpstorm.meta.php
/.php_cs.cache

/coverage/

/docs/_build/

/composer.lock
/composer.phar

/package-lock.json
/yarn.lock

/artisan
/.phpunit.result.cache

*.tmp
*.log
*.swp
*.swo

.DS_Store
Thumbs.db

docker-compose.override.yml
docker-compose.yml

/horizon.php

/telescope

/database/database.sqlite
/database/database.sqlite-journal

/storage/oauth-private.key
/storage/oauth-public.key

/storage/sanctum-token

/nova-components

/resources/assets/js/echo.js

/webpack.mix.js
